    
      <div class="row">
        <aside class="col-md-3">
          <h2>Rate Your Restaurant Workplace</h2>
          <p>Share with Job Seekers</p>
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>How is your restaurant working experience?</h2>
          <p>Rate! Rate! Rate! Share your Opinion!</p>
          <p>This platform is designed for restaurant employees and job seekers to search valuable information.
             Our group will keep updating and testing to revise the application design.</p>
            </article>
        </section>
        <section>----------------------------------------------------------------------</section>
        <footer>
          <p>Contact us: CodeCatcher</p>

        </footer>
      </div>
  
